html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: black;
}
body{
    display: flex;
    flex-direction: column;
    background-color: gray;
}
header{
    height: 20%;
    min-height: 150px;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: TenbyFive;
}
#main{
    height: 60%;
    margin: 0;
    padding: 0;
}
#main-title{
    font-size: 2.5em;
    text-align: center;
    color: #00ff55;
}
#second-title{
    text-align: center;
    color: #00ff55;
    font-style: italic;
}
#main{
    display: flex;
    padding: 30px 0;
}
.userbox{
    flex: 1 1 auto;
    margin: 0 20px;
}
.logbox{
    flex: 1 1 auto;
    border-style: solid;
    border-color: #00ff55;
    border-radius: 10%;
    background-color: black;
    min-width: 200px;
    max-height: 222.5px;
    overflow: auto;
}
ul{
    margin: 15px 15px;
    padding-left: 0px;
    list-style-type: none;
    color: #00ff55;
    font-family: TenbyFive;
}
.human-box{
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 15px;
    background-color: #00ff55;
    border-radius: 10%;
}
.comp-box{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    float: right;
    background-color: #00ff55;
    border-radius: 10%;
}
.playerlogo{
    width: 50px;
    height: 50px;
    margin: 5px auto 5px 4px;
}
.container{
    height: 40%;
    background-color: black;
    border-style: solid;
    border-color: #00ff55;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    min-width: 300px;
}
.playeroption{
    flex: 1 1 auto;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: #00ff55;
}
.optionlogo{
    display: block;
    border-style: solid;
    border-radius: 5%;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 10px auto;
}
h1{
    text-align: center;
    font-family: TenbyFive;
}
h2{
    text-align: center;
    font-family: TenbyFive;
}
.userHover {
    background-color: whitesmoke;
    cursor: pointer;
}
.win{
    background-color: cyan;
    transition: all 1.5s;
}
.lost{
    background-color: red;
    transition: all 1.5s;
}
.draw{
    background-color: yellow;
    transition: all 1.5s;
}
@font-face {
    font-family: 'TenbyFive';
    src: url('../fonts/tenby-five-webfont.otf'),
         url('../fonts/tenby-five-webfont.eot'),
         url('../fonts/tenby-five-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tenby-five-webfont.woff2') format('woff2'),
         url('../fonts/tenby-five-webfont.woff') format('woff'),
         url('../fonts/tenby-five-webfont.ttf') format('truetype'),
         url('../fonts/tenby-five-webfont.svg#TenbyFive') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clear{
    clear: both;
}